* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
}

:root {
  // Layout
  --mobile: 375px;
  --desktop: 1440px;
  //primary
  --lime-green: hsl(163, 72%, 41%);
  --bight-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: hsl(37, 97%, 70%);
  --instagram-gradient: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
  --youtube: hsl(348, 97%, 39%);
  --white: hsl(0, 0%, 100%);
  --toogle-dark: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );

  --toogle-light: hsl(230, 22%, 74%);
  --transition: all ease-in 0.3s;
}

.dark {
  --background: hsl(230, 17%, 14%);
  --background-top: hsl(232, 19%, 15%);
  --background-card: hsl(228, 28%, 20%);
  --text: hsl(227, 47%, 96%);
  --text-light: hsl(228, 34%, 66%);
}

.light {
  --background: hsl(0, 0%, 100%);
  --background-top: hsl(225, 100%, 98%);
  --background-card: hsl(227, 47%, 96%);
  --text: hsl(230, 17%, 14%);
  --text-light: hsl(228, 12%, 44%);
}
