.container {
  padding: 0 5%;
  background-color: var(--background);
  transition: var(--transition);
}

@media screen and (min-width: 1440px) {
  .container {
    min-height: 100vh;
    padding: 0 10vw;
  }
}
